{% extends 'base.html' %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highlight.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/tooltipsy.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/define.js') }}"></script>
{% endblock %}

{% block content %}
    <form id="main" method="post">
        <div id="formContent" class="{{formStatus}}">
            <div id="tabs">
                <ul>
                    <li><a href="#general-info">General Information</a></li>
                    <li><a href="#argument-info">Arguments</a></li>
                    <li><a href="#runtime-info">Runtime Requirements</a></li>
                </ul>

                {% include 'tool/general_information.html' %}
                {% include 'tool/arguments_information.html' %}
                {% include 'tool/runtime_information.html' %}
             </div>
        </div>

        <div class="ui-widget ui-state-highlight ui-corner-all">
            <p><span class="ui-icon ui-icon-info"></span>* = required fields.</p>
        </div>

        <div class="clear"></div>

        <h3>Test your definition</h3>
        <div>
            <p>Generate RDF definition in
                <select id="rdf_format" name="rdf_format">
                    {%- for format in config.RDF_FORMAT %}
                        <option>{{format}}</option>
                    {%- endfor %}
                </select> format.
                <button id="showRDF" class="ajaxSubmit" value="show">Show</button>
                <button id="downloadRDF" class="ajaxSubmit" value="download">Download</button>
            </p>
            <p>Generate interface using template
                <select id="template_name" name="template_name">
                    {%- for template in config.DEFAULT_TEMPLATE %}
                        <option>{{template}}</option>
                    {%- endfor %}
                </select>
                <button id="genInterface" class="ajaxSubmit" value="generate">Show</button>
            </p>
            <div id="ajaxResult"></div>
        </div>
        <p><hr/></p>
        <h3>Share your definition</h3>
        <div>
            <div id="ajaxResult2"></div>
        </div>

    </form>

{% endblock %}