{# context should pass in the row id and a parameter p_form (bound or unbound). #}

<div class="row" id="row_{{ id }}">
    <h4 class="row-header">
        <a class="row-title" href="#">{{ p_form.object_data.name }}</a>
    </h4>
    <div class="row-inner" id="{{ id }}">
        <div class="left">
            {% for field_name in p_form.field_set['left'] %}
                <p>{{ p_form[field_name].label }}{{ p_form[field_name] }}</p>
            {% endfor  %}
        </div>
        <div class="right">
            {% for field_name in p_form.field_set['right'] %}
                <p>{{ p_form[field_name].label }}{{ p_form[field_name] }}</p>
            {% endfor  %}
        </div>
        <div class="full hide" >
            {% set close = True %}
            {% for field_name in p_form.field_set['advanced'] %}
                <p>{{ p_form[field_name].label }}{{ p_form[field_name] }}</p>
            {% endfor %}

            <div class="dependencies">
            </div>
        </div>
        <p style="clear:both;">
            <button class="advancedToggle" class="alignright" >Show advanced options</button>
            <button class="deleteParam" class="alignright" >Delete</button>
        </p>
    </div>
</div>