<div id="parameter-info" class="inner-content">
    <div class="ui-widget ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info"></span>
            Parameter name cannot contain <strong>white space</strong> and following characters: <strong>- . ( ) , ; $</strong>
        </p>
    </div>
    <p></p>
    <div id="parameters">
        {% for p_form in form.parameters  %}
            {% set id = loop.index0 %}
            {% include 'tool/parameter_row.html' %}
        {% endfor %}
    </div>
    <p><br/>
        <button id="addParam">Add Parameter</button>
    </p>
</div>