{% extends 'base.html' %}

{% block head_extra %}
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/define.js') }}"></script>-->
{% endblock %}

{% block title_extra %} - define {% endblock %}


{% block content %}
<form id="upload" method="POST" enctype="multipart/form-data" action='./upload-definition'>
    {{ form.csrf_token }}
    <div class="file-input">
        {{ upload_form.rdf(title=upload_form.rdf.description) }}
    </div>
    {{ upload_form.submit }}
    {% if formStatus == 'hide' %}
        <div id="helpHeader">
            <br/>OR <a href="#" id="showForm">Create a new one</a>.
        </div>
    {% endif %}
</form>


{% endblock %}
