{% extends "base.html" %}

{% from "_formhelpers.html" import render_form_dl %}

{% block title_extra %} - Registration {% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}" />
{% endblock %}

{% block content %}

    <form method="post" action="">
        {{ form.csrf_token }}
        <input type="hidden" name="next" value="{{ url_for('define') }}" />
        <div class='centered-form'>
            {{ render_form_dl(form) }}
            {{ form.register }}
        </div>
    </form>

{% endblock %}