{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to CLI-mate</h2>
    <p>
        CLI-mate was developed at the Department of Human Genetics, Leiden University Medical Center (LUMC).
        Its aim is to facilitate developers in creating user-friendly interfaces for a command line tool.
    </p>
    <p>
        In the agile development environment of bioinformatics, many command line tools are created quickly to fill in gaps between complex information processes.
        A command line interface (CLI) is sometimes sufficient for the task, but it limits adoption by a broader audience. As such, it's often necessary for the developer to
        create a CLI wrapper that provides a more user friendly interface. CLI-mate was developed to systematize and expedite this very time consuming process.
    </p>
{% endblock %}